/* Color Palette
   background primary: #FBF5DD
   inset primary: #A6CDC6
   text primary: #16404D
   contrast primary: #DDA853
*/


body {
   background-color: #FBF5DD;
}

body, a, p, h1, h2, h3, h4, h5, h6 {
   color: #16404D;
}

pre, td {
   background-color: #A6CDC6 !important;
}

tr {
   background-color: #DDA853 !important;
}

.markdown-body > :first-child::before {
   text: "< ";
}
