/* Color Palette
   background primary: #FBF5DD
   inset primary: #A6CDC6
   text primary: #16404D
   contrast primary: #DDA853
*/


body {
   background-color: #FBF5DD !important;
   font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

body, a, p, h1, h2, h3, h4, h5, h6 {
   color: #16404D !important;
}

pre, td {
   background-color: #A6CDC6 !important;
}

pre {
   padding: 20px !important;
   font-family: source-code-pro, Menlo, Monaco, "Courier New", Courier, monospace !important;
}

tr {
   background-color: #DDA853 !important;
}

ul li::marker {
   content: ">   ";
}
